h2 {
    color: green;
} 
body {
    background-color: #FFF;
}
p {
    color: #000;
}
.container {
    position: relative;
}
.wrap {
    position: relative;
    right: 0px;
    align-content: right;
    display: inline;
}
#image {
    max-width: 100%;
    height: auto;
}
.active {
    background-color: #4CAF50;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}