.page {
    text-align: center;
    font-family: 'Cabin', 'Open Sans', sans-serif;
}
.page .footer {
    max-width: 100%;
} 
.flip .page404 {    
    margin: auto;
    margin-top: 20px;
    font-size: 600%;
}
.flip .front .fa-smile {
    color: #0088CC;
}
.flip .back .fa-smile {
    color: #333333;
}
.flip {
    perspective: 1000px;
    align-content: center;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
	/* flip the pane when hovered */
	.flip:hover .flipper, .flip.hover .flipper {
		transform: rotateY(180deg);
	}

.flip, .front, .back {
	width: 400px;
	height: 140px;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.page404p {
    margin-bottom: 185pt;
    font-size: 150%;
}
body {
    background-color: #FFF;
    max-width: 100%;
    margin: auto;
    font-family: 'Open Sans', 'Cabin', sans-serif;
}
a {
    text-decoration: none;
}