.page {
    text-align: center;
    font-family: 'Cabin', 'Open Sans', sans-serif;
}
.page .footer {
    max-width: 100%;
} 
.page404 {    
    margin: auto;
    margin-top: 20px;
    font-size: 600%;
}
.page404 .fa-smile {
    color: #0088CC;
}
.page404p {
    margin-bottom: 185pt;
    font-size: 150%;
}