.bottomHeader {
    background: #000;
    margin-top: 50pt;
}
.bottomHeader .footer {
    max-width: 100%;
}
.footer p{
    text-align: center;
    color: #F5F5F5;
    display: block;
    margin: auto;
    padding: 20px;
}
.fa-heart {
    color: red
}
.fa-bug{
    color: green;
}
.fa-github, .fa-font-awesome, .fa-code {
    color: #FAFAFA;
}
.fa-telegram {
    color: #0088CC;
}
.fa-facebook-square {
    color: #3B5998
}
.fa-twitter-square {
    color: #1DA1F2;
}
.fa-linkedin {
    color: #0077B5;
}
#github-logo {
    margin-bottom: -10px;
    max-width: 8%;
}
.fa-star {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.fa-star > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.fa-star > span:hover,
.fa-star > span:hover ~ span {
  color: transparent;
}
.fa-star > span:hover:before, .fa-star > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}