.bottomHeader {
    background: #000;
    margin-top: 40pt;
}
.bottomHeader .footer {
    max-width: 100%;
}
.footer p{
    text-align: center;
    color: #F5F5F5;
    display: block;
    margin: auto;
    padding: 20px;
}
.fa-heart {
    color: red
}
.fa-bug{
    color: green;
}
.fa-github, .fa-font-awesome, .fa-code {
    color: #FAFAFA;
}
.fa-telegram {
    color: #0088CC;
}
.fa-facebook-square {
    color: #3B5998
}
.fa-twitter-square {
    color: #1DA1F2;
}
.fa-linkedin {
    color: #0077B5;
}
@media screen and (max-width: 576px) {
    .bottomHeader {
        margin-top: 20pt;
    }
}