h2 {
    color: green;
} 
body {
    background-color: #FFF;
    max-width: 960px;
    margin: auto;
}
p {
    color: #000;
}
.container {
    position: relative;
}
#image {
    max-width: 100%;
    height: auto;
    align-content: center;
}
.menu {
    overflow: hidden;
}
.active {
    background-color: #4CAF50;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #111;
}
#logo {
    align-content: left;
    left: 0px;
    margin-top: 10px;
    margin-inline-start: 20px;
    margin-bottom: 10px;
    width: 250px;
    max-width: 100%;
    height: auto;
}
#header-text {
    position: relative;
    align-content: right;
    right: 0px;
}