body {
    background-color: #FFF;
    margin: auto;
    font-family: 'Open Sans', 'Roboto', 'Cabin', sans-serif;
}
body h2 {
    color: green;
    font-family: 'Cabin', 'Roboto', 'Open Sans', sans-serif;    
    margin-top: 20pt;
    font-size: 25px;
} 
body a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
body p {
    color: #000;
    font-size: 17px;
}
body a {
    text-decoration: none;
} 
.navbar {
    font-family: 'Roboto', 'Cabin', 'Open Sans', sans-serif;
}
.navbar .navbar-brand {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand img {
    width: 150px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: green;
}
.container .col-md-5 {
    padding-left: 0;
}
.image img{
    padding-top: 50px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    max-height: 100%;
}
.row .col-md-12 {
    margin-top: 0pt;
}
.col-md-12 .brlcad-logo {
    max-width: 300px;
    min-width: 300px;    
}
.col-md-12 .sponsors {
    margin-top: 0pt;
}
.clion-logo {
    max-width: 150px;
    max-height: 150px;
}
.clion-text {
    margin-top: 20pt;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
    body p {
        font-size: 12px;
    }
    body h2 {
        margin-top: 10pt;
        font-size: 20px;
    } 
    .navbar .navbar-brand {
        font-size: 25px;
    }
    .image img{
        padding-top: 10px;
    }
    .col-md-12 .brlcad-logo {
        max-width: 200px;
        min-width: 200px;    
    }
    .btn-dark {
        width: 75%;
        margin-bottom: 1pt;
    }
    .clion-logo {
        max-width: 100px;
        max-height: 100px;
    }
    .clion-text {
        margin-top: 10pt;
    }
}