.container h2 {
    color: green;
    font-family: 'Cabin', 'Open Sans', sans-serif;
    margin-top: 20pt;
} 
body {
    align-content: center;
    background-color: #FFF;
    margin: auto;
    font-family: 'Open Sans', 'Cabin', sans-serif;
}
body a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
body p {
    color: #000;
    font-size: 12.5pt;
}
body a {
    text-decoration: none;
} 
.navbar {
    z-index: 1;
    font-family: 'Cabin', 'Open Sans', sans-serif;
}
.navbar .navbar-brand {
    font-size: 30px;
    color: green;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 20px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: green;
}
.container {
    position: relative;
    margin: 10px;
}
.image {
    max-width: 100%;
    height: auto;
    align-content: right;
    position: absolute;
    right: 0px;
    float: right;
    display: block;    
}
.github-corner {
    z-index: 9999;
}
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}
.intro {
    position: relative;
    clear: both;
}
.clion {
    position: relative;
}
.clion-logo {
    max-width: 12%;
    max-height: 12%;
    align-content: left;
    left: 0px;
}
.clion-text {
    right: 0px;
    margin-inline-start: 100pt;
    padding-top: 10pt;
    position: absolute;
    align-content: right;
    display: inline-block;
}
@keyframes octocat-wave{
    0%,100%{
        transform:rotate(0)
    }20%,60%{
        transform:rotate(-25deg)
    }40%,80%{
        transform:rotate(10deg)
    }
}
@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}