body {
    max-width: 100%;
}
body h1 {
    text-align: center;
    color: #333;
    font-family: 'Roboto Condensed', 'Cabin', 'Roboto', 'Open Sans', sans-serif;    
    margin-top: 20pt;
    font-size: 45px;
} 
.card {
    margin-top: 20pt;
    text-align: center; 
}
.card-title {
    color: #333;
    font-family: 'Cabin', 'Roboto', 'Open Sans', sans-serif;    
}
.card-text {
    font-family: 'Roboto', 'Cabin', 'Open Sans', sans-serif;    
}
.btn-primary {
    width: 25%;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 0em 10px;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
    body h1 {
        font-size: 25px;
    }
    .card {
        margin-top: 10pt;
    }
}